.SideDrawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  max-width: 70%;
  height: 100%;
  z-index: 200; /* higher than the backdrop */
  background-color: #FFFFFF;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

/* if screen size is more than 500px wide, don't display SideDrawer */
@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

/* CSS modules' unique class naming means this won't clash with .Logo in Toolbar.css and Logo.css */
.Logo {
  height: 11%;
  margin-bottom: 32px;
}